body {
    font-family: Arial;
    font-size: 17px;
    padding: 8px;
    background-image: url(https://images.pond5.com/fire-pizza-oven-background-footage-085503402_prevstill.jpeg);
  }
  * {
    box-sizing: border-box;
    margin-left: 1%;
  }
  
  .Cont {
    width:50%;
    margin-left: 10%;
  
  }
  
  .ContMid,
  .ContBig {
    padding: 0 10px;
  }
  
  .container {
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
    margin-left: 30%;
    width: 90%;
  }
  
  input[type=text]{
    width: 150%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  select{
    font-size: 20px;
    width: 150% ;
    height: 35px;
  }
  label {
    margin-bottom: 10px;
    display: block;
  }
  
  .btn {
    background-color: #11882f;
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 150%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 20px;
  }
  
  .btn:hover {
    background-color: #1b421d;
  }